body {
  background: url("images/house_area.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.scene {
  position: relative;
  width: 100%;
  height: 100vh;
}

.walking_ani {
  height: 300px;
  position: absolute;
  bottom: 0;
  left: -300px;
  transform: scaleX(1);
  animation: walk-right 20s linear infinite;
}

.car {
  height: 320px;
  position: absolute;
  bottom: 10px;
  right: -400px;
  transform: scaleX(1); /* Face left */
  animation: drive-left 12s linear infinite;
}

.plane {
  height: 220px;
  position: absolute;
  top: 50px;
  left: -300px;
  animation: fly-right 8s linear infinite;
}

@keyframes walk-right {
  0% {
    left: -300px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes drive-left {
  0% {
    right: -400px;
  }
  100% {
    right: 110vw;
  }
}

@keyframes fly-right {
  0% {
    left: -300px;
  }
  100% {
    left: 120vw;
  }
}
